body{
    background-color: rgb(40,204,158);
}

.titleimage div{
    text-align: center;
}
div{
    color:white;
    font-size: 14px;
    text-align: center;
}
.button_CLICK div{
    text-align: center;
}
